<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Too many characters</title>
  </head>
  <body>
    <h1>You didn't enter a letter! You must enter a letter to play the game</h1>
    <form action="/tooManyCharacters/" method="post">
      <label for="userInput">Press the button to return to the game</label>
      <input type="submit" id="returnButton" value="return to game">
    </form>
  </body>
</html>
