<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Duplicate entry</title>
  </head>
  <body>
    <h1>You have already entered that letter</h1>
    <form action="/duplicateEntry/" method="post">
      <label for="userInput">Press the button to return to the game</label>
      <input type="submit" id="returnButton" value="return to game">
    </form>
  </body>
</html>
